@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
}

header h1 {
  margin-top: 20px;
  color: aliceblue;
}

.slider {
  height: 600px;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 25px;
}

.slider__container {
  height: 100%;
  width: 100%;
  position: relative;
  // border: 10px solid hsl(0, 0%, 0%);
}

.slide {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  height: 100%;
}

.slide img {
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
}

.dot-nav {
  margin-top: 50px;
  z-index: 10000;
  display: flex;
  width: 80%;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.dot-nav > div {
  margin-left: 20px;
  height: 20px;
  width: 20px;
  border: 1px solid wheat;
  border-radius: 50%;
}

.btn {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: transparent;
  bottom: 50%;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: gray;
}

i {
  color: wheat;
  font-size: 40px;
}

.next {
  right: 150px;
}

.previous {
  left: 150px;
}

@keyframes mymove {
  from {
    right: 0px;
  }
  to {
    left: 0px;
  }
}
