@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
  background-color: black;
  text-align: center;
}

header h1 {
  color: aliceblue;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  .slides {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    border: 1px solid;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    object-position: center;
    border-radius: 50%;

    img {
      height: 100%;
      max-width: 100%;
    }
  }
  button {
    font-size: 40px;
    position: absolute;
    color: whitesmoke;
    top: 33%;
    background-color: black;
    border: none;
  }
  button:hover {
    background-color: grey;
  }
  .previous {
    left: 20%;
  }
  .next {
    right: 20%;
  }
  .active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    bottom: 16%;
    height: 50px;
    .dots {
      color: greenyellow;
      margin: 8px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 1px solid greenyellow;
    }
  }
}
