@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
  background-color: black;
  text-align: center;
}

header h1 {
  color: aliceblue;
}

.slider {
  position: relative;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  .slides {
    user-select: none;
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 1px solid;
    overflow: hidden;
    .placeholder {
      object-fit: fill;
      position: relative;
      width: 100%;
      height: 100%;
      filter: blur(20px);
      image-rendering: pixelated;
    }
  }
  button {
    height: 70px;
    width: 70px;
    position: absolute;
    color: whitesmoke;
    top: 33%;
    border-radius: 50%;
    background-color: black;
    border: none;
    transition: 0.3s ease;

    i {
      font-size: 50px;
    }
  }
  button:hover {
    background-color: grey;
  }
  .previous {
    left: 20%;
  }
  .next {
    right: 20%;
  }
  .dot-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    .dots {
      color: greenyellow;
      margin: 8px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 2px solid greenyellow;
      cursor: pointer;
    }
    .dots:hover {
      background-color: green;
    }
  }
}

.active {
  background-color: greenyellow;
}

.picture {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s linear;
}
.picture.loaded {
  opacity: 1;
}
